<div class="col-md-8 offset-md-3">
  <h3>Thêm sách mới</h3>
  <p class="text-info">{{message}}</p>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Tên</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="book.title" name="firstName">
    </div>

    <div class="form-group">
      <label>Tác giả</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="book.author" name="lastName">
    </div>

    <div class="form-group">
      <label>Mô tả</label>
      <textarea rows="5" class="form-control" id="email" [(ngModel)]="book.description" name="email"></textarea>
    </div>

    <button class="btn btn-success" type="submit">Thêm sách</button>
    <button class="btn btn-dark ml-4" routerLink="/books">Thoát</button>
  </form>
</div>
